<!-- Pass on title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
 
<!-- Flash message -->
<%- messages() %>
 
<form action="/account/register" method="post">
    <fieldset>
            <h2>ALL FIELDS ARE REQUIRED</h2>
        <label>First Name</label>
        <input class="r-firstname" name="account_firstname" type="text"  required placeholder="Enter firstname">
        <label>Last Name</label>
        <input class="lastname" name="account_lastname" type="text"  required placeholder="Enter lastname">
        <label>Email Adress</label>
        <input class="username" name="account_email" type="email"  required placeholder="someone@gmail.com">
        <label>Password</label>
        <input class="password" name="account_password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required placeholder="Enter Password">
        <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
        <button class="show-password">Show Password</button>
        <button class="r-submit" type="submit" name="login">Register</button>
    </fieldset>
</form>