<!-- Pass on title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <%- singleView %>
    <% } else {
      res.redirect('/')
    } %>
 
<!-- messages -->
<!-- <%# messages() %> -->
 
<!-- inventory items display -->