<!-- Pass on title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
 
    <%# messages() %>
 
<div class="links">  
  <a href="/inv/newClassifacation">Add New Classifacation</a>
  <a href="/inv/newVehicle">Add New Vehicle</a>
</div>    
 
 
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>
 
<table id="inventoryDisplay"></table>
 
<noscript>JavaScript must be enabled to use this page.</noscript>
 
<script src="../../js/inventory.js"></script>