<!-- Pass on title -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- Flash message -->
<%- messages() %>
<h2>Welcome <%= accountData.account_firstname  %></h2>
<p>You're logged in.</p>

<div class="links">  
<a href="/inv/newClassifacation">Add New Classifacation</a>
<a href="/inv/newVehicle">Add New Vehicle</a>
</div>    


<h3>Edit Account Info</h3>
<a href="/account/editAccount/<%= accountData.account_id %>" title="Click to update your account information">Edit Account Information</a>